[Desktop Entry]
Type=Application
Name=MXUI
Comment=Enterprise VPN Panel Client
Exec=mxui_client
Icon=mxui_client
Categories=Network;
Terminal=false
StartupNotify=true
